<meta name="generator" content="program">
<meta name="rating" content="General">
<meta name="referrer" content="no-referrer">
<meta name="format-detection" content="telephone=no">

<meta name="application-name" content="Application Name">
<meta name="theme-color" content="#4285f4">
<meta name="description" content="#{description}">

// LINKS
<link rel="canonical" href="#{site_url}">
<link rel="me" href="https://google.com/profiles/thenextweb" type="text/html">
<link rel="me" href="mailto:name@example.com">
<link rel="me" href="sms:+15035550125">

// GOOGLE
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google" content="nositelinkssearchbox">
<meta name="google" content="notranslate">
<meta name="google-site-verification" content="#{google_site_verification}">

// GEO TAGS
<meta name="ICBM" content="latitude, longitude">
<meta name="geo.position" content="latitude;longitude">
<meta name="geo.region" content="country[-state]">
<meta name="geo.placename" content="city/town">