<header class="header js-header">
	<div class="page__layout" role="layout">
		<div class="header__grid" role="grid">
			<div class="header__column" role="column">
				<div class="header__logo">
					<a href="#{site_url}">
						<span>Logo</span>
					</a>
				</div>
			</div>
			<div  class="header__column" role="column">
				<div class="header__navigation">
					<nav>
						<ul>
							<li>
								<a href="#{site_url}" class="is--active" data-id="" role="link">
									<span>Home</span>
								</a>
							</li>
							<li>
								<a href="#{site_url}contact.html">
									<span>Contact</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>