- var title = "Website";
- var site_url = "https://jorge-fco.com/";
- var description = "A description of the page...";
- var share_image = "assets/images/share.jpg";

- var email = "Website";
- var phone = "Website";
- var linkedin = "Website";
- var twitter_profile = "@jorgefcomx";

- var facebook_app_id = "12345";
- var facebook_pade_id = "12345";
- var facebook_domain_verification = "12345";

- var google_site_verification = "12345";
- var css = "assets/dist/main.min.css";