- var title = "Website";
- var site_url = "https://jorge-fco.com/";
- var description = "A description of the page...";

- var email = "Website";
- var phone = "Website";
- var linkedin = "Website";

- var google_site_verification = "12345";
- var css = "assets/dist/main.min.css";