// HEAD
include ../layout/header.pug

<header class="js-header">
	<a href="">
		| Logo
	</a>
</header>

<main class="page">
	<section class="page__section">
		<div class="page__layout">
			<h1>Title</h1>
		</div>
	</section>
</main>

// HEAD
include ../layout/footer.pug