// HEAD
include ../layout/header.pug

// NAVIGATION
include ../layout/navigation.pug

// WHATSAPP
include ../components/whatsapp.pug

// COOKIES
include ../components/cookies.pug

<main class="page">
	<section class="page__section">
		<div class="page__layout">
			<h1>Title</h1>
		</div>
	</section>
</main>

// FOOTER
include ../layout/footer.pug